* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "Britannic Bold", sans-serif;
    background: #c2d0d0;
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid orange;
    background: rgb(0, 0, 0);
    color: orange;
}

.btn:hover {
    background: #414349;
}

.btn:active {
    background: #56585D;
    border: 2px solid orange;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(105, 110, 242);
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: rgb(24, 24, 23);
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}
h3 {
    text-align: center;
    font-size: 50px;
    color: rgb(252, 249, 249);
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 15px;
}

strong {
    color: #caf700;
}

label {
    font-size: 24px;
    color: rgb(247, 246, 244);
}

input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    color: orange;
    background: black;
    border: 2px solid orange;
}
